<!DOCTYPE html> 

<html>

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width" />
		<title>Wordle</title>
	    <link href="home.css" rel="stylesheet" type="text/css" />
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	    <script type="module" src="client.js" async defer></script>


	</head>

	<body>

		<center><div id="bigfont">Wordle</div>

			<div class="row" id="row1">
				<div class="letters" id="1"></div>
				<div class="letters" id="2"></div>
				<div class="letters" id="3"></div>
				<div class="letters" id="4"></div>
				<div class="letters" id="5"></div>
			</div>
			<div class="row" id="row2">
				<div class="letters" id="1"></div>
				<div class="letters" id="2"></div>
				<div class="letters" id="3"></div>
				<div class="letters" id="4"></div>
				<div class="letters" id="5"></div>
			</div>
			<div class="row" id="row3">
				<div class="letters" id="1"></div>
				<div class="letters" id="2"></div>
				<div class="letters" id="3"></div>
				<div class="letters" id="4"></div>
				<div class="letters" id="5"></div>
			</div>
			<div class="row" id="row4">
				<div class="letters" id="1"></div>
				<div class="letters" id="2"></div>
				<div class="letters" id="3"></div>
				<div class="letters" id="4"></div>
				<div class="letters" id="5"></div>
			</div>
			<div class="row" id="row5">
				<div class="letters" id="1"></div>
				<div class="letters" id="2"></div>
				<div class="letters" id="3"></div>
				<div class="letters" id="4"></div>
				<div class="letters" id="5"></div>
			</div>
			<div class="row" id="row6">
				<div class="letters" id="1"></div>
				<div class="letters" id="2"></div>
				<div class="letters" id="3"></div>
				<div class="letters" id="4"></div>
				<div class="letters" id="5"></div>
			</div>

			<div id="winmsg"></div>
		</center>

	</body>

</html>