<!DOCTYPE html> 

<html>

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width" />
		<title>Wordle</title>
	    <link href="home.css" rel="stylesheet" type="text/css" />
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	    <script type="module" src="client.js" async defer></script>


	</head>

	<body>

		<center><div id="bigfont">Wordle</div>
			<div id="smallspace"></div>
			<div class="row" id="row1">
				<div class="letters" id="1"></div>
				<div class="letters" id="2"></div>
				<div class="letters" id="3"></div>
				<div class="letters" id="4"></div>
				<div class="letters" id="5"></div>
			</div>
			<div class="row" id="row2">
				<div class="letters" id="1"></div>
				<div class="letters" id="2"></div>
				<div class="letters" id="3"></div>
				<div class="letters" id="4"></div>
				<div class="letters" id="5"></div>
			</div>
			<div class="row" id="row3">
				<div class="letters" id="1"></div>
				<div class="letters" id="2"></div>
				<div class="letters" id="3"></div>
				<div class="letters" id="4"></div>
				<div class="letters" id="5"></div>
			</div>
			<div class="row" id="row4">
				<div class="letters" id="1"></div>
				<div class="letters" id="2"></div>
				<div class="letters" id="3"></div>
				<div class="letters" id="4"></div>
				<div class="letters" id="5"></div>
			</div>
			<div class="row" id="row5">
				<div class="letters" id="1"></div>
				<div class="letters" id="2"></div>
				<div class="letters" id="3"></div>
				<div class="letters" id="4"></div>
				<div class="letters" id="5"></div>
			</div>
			<div class="row" id="row6">
				<div class="letters" id="1"></div>
				<div class="letters" id="2"></div>
				<div class="letters" id="3"></div>
				<div class="letters" id="4"></div>
				<div class="letters" id="5"></div>
			</div>

			<div id="winmsg"></div>

			<br>

			<div id="keyboard">
				<div class="keyboardrow" id="kbr1">
					<div id="q" class="kbl">q</div>
					<div id="w" class="kbl">w</div>
					<div id="e" class="kbl">e</div>
					<div id="r" class="kbl">r</div>
					<div id="t" class="kbl">t</div>
					<div id="y" class="kbl">y</div>
					<div id="u" class="kbl">u</div>
					<div id="i" class="kbl">i</div>
					<div id="o" class="kbl">o</div>
					<div id="p" class="kbl">p</div>

				</div>

				<div class="keyboardrow" id="kbr2">
					<div id="a" class="kbl">a</div>
					<div id="s" class="kbl">s</div>
					<div id="d" class="kbl">d</div>
					<div id="f" class="kbl">f</div>
					<div id="g" class="kbl">g</div>
					<div id="h" class="kbl">h</div>
					<div id="j" class="kbl">j</div>
					<div id="k" class="kbl">k</div>
					<div id="l" class="kbl">l</div>
					
				</div>
				<div class="keyboardrow" id="kbr3">
					<div id="z" class="kbl">z</div>
					<div id="x" class="kbl">x</div>
					<div id="c" class="kbl">c</div>
					<div id="v" class="kbl">v</div>
					<div id="b" class="kbl">b</div>
					<div id="n" class="kbl">n</div>
					<div id="m" class="kbl">m</div>

					
				</div>


			</div>

		</center>

	</body>

</html>