* {
	font-family: verdana;
	font-size: 70px;
	color: white;
	-moz-user-select: none;
}

body {
	background: black;
}

#smallspace {
margin-top: 20px;
}
.letters {
	margin: -10px;
	margin-bottom: 15px;
	display: inline-block;
	width:80px;
	height: 80px;
	line-height: 70px;
	box-sizing: border-box;
	font-size: 60px;
	border-style: solid;	
	border-width: 2px;
	border-radius: 15px;
	vertical-align: top;
	}

#keyboard {
	display: block;
	margin-top:-90px;
}

.keyboardrow {
	margin-bottom:-20px;
}

.kbl {
	background: #4a4a4a;
	margin:-7px;
	font-size: 30px;
	display: inline-block;
	width:40px;
	height:50px;
	line-height: 50px;
	border-style: solid;
	border-width: 1px;
	border-color:grey;
	border-radius: 15px;	
}

.kbl:hover {
	background:gray;
}